@model BasicBoard.Models.Board

@{
    ViewData["Title"] = "Edit Page";
    var cri = ViewData["cri"] as Criteria;
}

<div class="row">
    <div class="col-lg-10">
        <form name="frm" action="/Board/Edit" method="POST">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-contorl" style="width:800px;" asp-for="BoardTitle" value="@Model.BoardTitle" />
                <span class="text-danger" asp-validation-for="BoardTitle"></span>
            </div>

            <div class="form-group">
                <label>내용</label>
                <textarea class="form-contorl editor" asp-for="BoardContent" rows="20">@Model.BoardContent</textarea>
                <span class="text-danger" asp-validation-for="BoardContent"></span>
            </div>

            <div class="form-group">
                <input type="hidden" name="pageNum" value="@cri.pageNum" />
                <input type="hidden" name="amount" value="@cri.amount" />
                <input type="hidden" name="category" value="@cri.category" />
                <input type="hidden" name="searchString" value="@cri.searchString" />

                <button type="submit" class="btn btn-primary" data-oper="Edit" asp-route-boardNo="@Model.BoardNo">수정완료</button>
                <button data-oper="Index" class="btn btn-primary">목록으로 돌아가기</button>
            </div>
        </form>
    </div>
</div>




<script>
    $("button[data-oper='Index'").on("click", function (e) {
        e.preventDefault();
        document.frm.action = "/Board/Index";
        document.frm.submit();
    });
</script>