@{
    ViewData["Title"] = "List Page";
}
<script>
    var DeletedResult ='@Html.Raw(TempData["success"])';

    if (DeletedResult != "")
    {
        alert(DeletedResult + "번 게시물이 정상적으로 삭제되었습니다.");
    }
</script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>수정일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var board in Model)
        {
            <tr>
                <td>@board.BoardNo</td>
                <td>
                    <a asp-controller="board" asp-action="Detail" asp-route-boardNo="@board.BoardNo">@board.BoardTitle</a>
                </td>
                <td>@board.UserName</td>
                <td>@board.BoardUpdateDate</td>
                <td>@board.BoardViews</td>
            </tr>
        }
    </tbody>
</table>


<a class="btn btn-warning" asp-controller="Board" asp-action="Add">게시물 작성하기</a>
<hr />
<form asp-controller="Board" asp-action="Index" method="GET">
    <p>
        <select name="category">
            <option value="BoardTitle">제목</option>
            <option value="BoardContent">내용</option>
            <option value="UserName">작성자</option>
        </select>

        <input type="text" name="SearchString">
        <input type="submit" value="검색" />
    </p>
</form>
