@{
    ViewData["Title"] = "List Page";
    var pageMaker = ViewData["pageMaker"] as PageDTO;
}


<a class="btn btn-warning" asp-controller="Board" asp-action="Add">게시물 작성하기</a>
<hr />
<form asp-controller="Board" asp-action="Index" method="GET">
    <p>
        <select name="category" style="height:29.5px;">
            <option value="BoardTitle">제목</option>
            <option value="BoardContent">내용</option>c
            <option value="UserName">작성자</option>
        </select>

        <input type="text" name="SearchString">
        <input type="submit" value="검색" />
    </p>
</form>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>수정일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var board in Model)
        {
            <tr>
                <td>@board.BoardNo</td>
                <td>
                    <a asp-controller="board" asp-action="Detail" asp-route-boardNo="@board.BoardNo">@board.BoardTitle</a>
                </td>
                <td>@board.UserName</td>
                <td>@board.BoardUpdateDate</td>
                <td>@board.BoardViews</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination" style="justify-content:center;">
        @if (pageMaker.prev)
        {
            <li class="page-item"><a class="page-link" href="@(pageMaker.startPage-1)">Previous</a></li>
        }

        @for (int num = pageMaker.startPage; num <= pageMaker.endPage; num++)
        {
            <li class="page-item @((pageMaker.cri.pageNum == num)? "active" : "")"><a class="page-link" href="@num">@num</a></li>
        }

        @if (pageMaker.next)
        {
            <li class="page-item"><a class="page-link" href="@(pageMaker.endPage +1)" >Next</a></li>
        }
    </ul>

    <form name="frm" asp-controller="Board" asp-action="Index" method="GET">
        <input type="hidden" name="pageNum" vlaue="@pageMaker.cri.pageNum" />
        <input type="hidden" name="amount" value="@pageMaker.cri.amount" />
    </form>
</nav>



<script language="javascript" type="text/javascript">
    //게시물 crud 성공 시 alert
    var DeletedResult ='@Html.Raw(TempData["success"])';

    if (DeletedResult != "")
    {
        alert(DeletedResult + "번 게시물이 정상적으로 처리되었습니다.");
    }


    //페이지 번호 클릭 시 처리
    let pagelink = document.querySelectorAll(".page-item a");
    let pageNumber = document.querySelector('input[name="pageNum"]');

    for (var i = 0; i < pagelink.length; i++)
    {
        pagelink[i].addEventListener("click", function (event) {
            event.preventDefault(); //a태그 기능 막기
            pageNumber.value = event.target.getAttribute("href");
            document.frm.submit();
        });
    }
</script>
